.html {
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    box-sizing: inherit;
}

a {
    color: #b9b9b9;
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline-block;
}




.header {
    background-color: #fdfdfd;

}

.container__fluide {
    max-width: 1920px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    &__logo {}
}

.header__logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 60px;
}

.header__menu {
    padding: 20px 553px 20px 0px;
    display: contents;

}

.header__menu a {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
    color: black;

    &:hover {
        text-decoration: none;
    }
}

.header__menu li+li {
    margin-left: 40px;
}

.heder__info {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
    text-align: right;
}

.header__address {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    max-width: 246px;
    max-height: 42px;



}

.header__phone {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    max-height: 43px;
    margin-left: 47px;


    a {
        display: block;
        color: #90C963;
        text-decoration: none;
        border-bottom: 1px solid rgb(#88C558, .25);
        padding-bottom: 1px;

        &+a {
            margin-top: 4px;
        }
    }

}

//end header

//start slider

.slider__inner {

    position: relative;
    z-index: 1;

}

.slider__image img {

    // max-width: 1820px;
    height: 980px;
    width: 100%;
    object-fit: cover;



}

.slider__text {
    max-width: 1018px;
    color: #fff;
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    line-height: 70px;
    font-weight: 800;
    z-index: 500;
    bottom: 100px;
    margin-left: 60px;


}

.slick-dots li {


    width: 24px;
    height: 3px;
    margin: 0px;
    background-color: white;
    opacity: 0.5;
    transition: all .3s;

    &+li {
        margin-left: 8px;
    }

    &.slick-active {
        width: 50px;
        opacity: 1;

    }
}

//end slider

//start works

.works {
    margin-top: 180px;
    margin-bottom: 90px;
}

.container {
    max-width: 1216px;
    margin: 0 auto;
}

.works__title {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    line-height: 30px;
    font-weight: 700;
    color: #000;


}

.work__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.work__text {
    display: flex;
}

.work__number {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    line-height: 77px;
    font-weight: 100;
    color: #00000026;
    opacity: 15;
    margin-right: 24px;
    transform: rotate(2deg);


}



.work__item {
    width: 48%;
    margin-top: 72px;
    display: flex;
    align-items: center;

}

.work__title {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    line-height: 30px;
    font-weight: 500;
    color: #000;
}

.work__text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: Grey;
}

.work__info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-top: 187px;
}

.work__size {
    font-family: 'Inter', sans-serif;
    font-size: 90px;
    line-height: 99px;
    font-weight: 500;
    color: #000;
   margin-right: 197px;

    width: 100%;
}

.work__fitout {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #000;
    opacity: 80%;
    margin-top: 27px;
}

.work__project {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    width: 548px;
}


//end works